/* what declarations are need in beginning of CSS? */

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

ul {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 1em;
	font-weight: 300;
}

/* nav bar */
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; /* what's different from absolute? */
	width: 100%;
	background-color: #f88ee3;
}

.navlist {
	font-weight: 700;
	font-size: 1.2rem; /* need to see for change */
	color: #f7f5e2;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navlist li {
	display: inline;
	text-align: center;
}

.navlist a {
	padding: 8px;
}

/* welcome section */
.welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		45deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(229, 135, 185, 1) 20%,
		rgba(217, 87, 165, 1) 34%,
		rgba(217, 116, 180, 1) 48%,
		rgba(216, 177, 210, 1) 78%,
		rgba(148, 187, 233, 1) 100%
	);
	height: 100vh;
	border-bottom: 1rem solid #e0c3fc;
}

.welcome-section h1 {
	font-size: 1.6rem;
	font-weight: 500;
	color: #080808;
	margin-bottom: 3rem;
}

.welcome-section p {
	font-weight: 300;
	font-style: italic;
	font-size: 1em;
	color: #e6e5dc;
}

.welcome-section strong {
	font-weight: 700;
	font-style: normal;
	font-size: 1.4em;
	color: #000000;
}

.welcome-section a {
	font-weight: 500;
	text-decoration: underline;
}

/* projects & daily section */
.grid-section {
	text-align: center;
	padding: 10rem 2rem;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(204, 179, 214, 1) 38%,
		rgba(216, 177, 210, 1) 65%,
		rgba(148, 187, 233, 1) 100%
	);
	border-bottom: 1rem solid #e0c3fc;
}

.grid-header {
	max-width: 640px;
	margin: 0 auto 6rem auto;
	font-size: 2.2rem;
	font-weight: 700;
}

.grids {
	display: grid;
	grid-gap: 4rem;
	/* use of grid-template-columns and grid-gap should be checked again */
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.grid-link {
	background-color: #f79de5;
	box-shadow: 1px 1px 2px rgb(0 0 0/50%);
}

.grid-title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 500;
	padding: 0.3em 0.3em;
}

.grid-title:hover {
	font-weight: bold;
}

.grid-image {
	display: block;
	height: calc(100% - 6.8rem);
	width: 100%;
	object-fit: scale-down; /* first time using object-fit */
}

/* contact section */
.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80vh;
	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.contact-header h2 {
	font-size: 2rem;
}

.contact-header p {
	font-size: 1.8rem;
	font-style: italic;
}

.contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 980px;
	margin-top: 4rem;
	flex-wrap: wrap;
}

.contact-links .links {
	display: inline-block;
	padding: 1rem 2rem;
	font-size: 2rem;
	text-shadow: 2px 2px 1.5px #656b75;
}

@media only screen and (min-width: 768px) {
	/* Reset CSS */

	/* nav */
	.nav {
		flex-direction: column;
	}

	.navlist {
		font-size: 2.5rem;
	}

	/* welcome section */
	.welcome-section h1 {
		font-size: 3.3em;
	}

	.welcome-section p {
		font-size: 2.5em;
	}
	/* project section */
	.projects-header {
		font-size: 3.3em;
	}

	.projects-grid {
		grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
	}

	/* daily section */
	.daily-example {
		grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
	}

	.daily-welcome {
		font-size: 3.3em;
	}

	/* contact section */
	.contact-header h2 {
		font-size: 3.5em;
	}

	.contact-header p {
		font-size: 2.5em;
	}

	/* grid */
	.grid-title {
		font-size: 2em;
		padding: 0.5em 0.5em;
	}
}
